html {
    height: 100%;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    position: relative;
    margin: 0;
    padding-bottom: 4.5rem;
    min-height: 100%;
}

app-vote-button {
    display: contents;
}

.footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 0;
    background-color: unset;
}

.footer-body {
    padding: 1rem;
    background-color: #fafafa;
}

.container {
    position: unset;
}

@media screen and (min-width: 1472px) {
    .container {
        max-width: 1152px;
    }
}

.ct-bar {
    stroke-width: 30px !important;
}

svg {
    fill: currentColor;
    margin: 0 8px 0 8px;
}
